body{
    margin:0;
    padding:0;
    background:#ffffff;
}
/* popup mssage */
.popup-message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5720a;
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    margin-left: -58px;
    display: none;
  }
  .popup-message.show {
    display: block;
  }
/***********************/  


.box{
    border-radius:3px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:750px;
    height: 560px;
    overflow: hidden;
}
.inline-text{
    color:white;
    position: absolute;
    top: 32px;
    left: 55px;
  
}
.inline-text h1{
font-size:25px;
margin-bottom: 20px;
}
.inline-text p{
    color:rgb(228, 228, 228);
    opacity:0.9;
    font-size:13px;
    letter-spacing: 1px;
}
.box1{
    
    /* background:url(//https://www.google.com/imgres?imgurl=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D100061614076166&imgrefurl=https%3A%2F%2Fm.facebook.com%2Famarkartbd%2F&tbnid=ie_aNfPWBtGn3M&vet=12ahUKEwiLgOzKh779AhUP3nMBHX33BQIQMygBegQIARAm..i&docid=0RIaSvrs1Wfl0M&w=500&h=500&q=amarkart&ved=2ahUKEwiLgOzKh779AhUP3nMBHX33BQIQMygBegQIARAm);
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
   background-color:#2874f0; */
}
.box2 .user-id{
    position: relative;
    left:20px;
    top:50px;
    padding:10px 20px;
    
}
.box2 .user-id input{
    width:100%;
    height: 40px; 
   
    
}
.box2  .user-data input {
    /* font-size:18px; */
    color:black;
    border:none;
    border-bottom:1px solid rgb(228, 228, 228);
    outline:none;
    background:none;
    transition: 0.5s;
    margin-bottom:20px;

    
}
.box2 .user-data label{
    color:rgb(158, 154, 154);
    padding:10px 20px;
    position: absolute;;
    top: 6px;
    left: 0;
    font-size:18px;
    font-weight:400;
    pointer-events: none;
    transition:0.5s;
    
}
.box2 .user-data input:focus ~ label,
.box2 .user-data input:valid ~ label{
    top:-20px;
    font-size:12px;
   
}
.box2 .user-data input:focus{
    border-bottom:1px solid #2874f0;
}
.box2  span a{
    position: absolute;
    top: 140px;
    left: 315px;
    display:inline;
    color:#2874f0;
    font-weight: 600;
}
.box2  .button input{
    height:50px;
    font-size:18px;
    border:none;
    background:#fff;
    
}
.user-id p{
    margin:0;
    margin-left:148px;
    color:rgb(173, 173, 173);
}
.box2  .button input[type=submit]{
    background:#fb641b;
    border-radius: 2px;
    color:white;
    font-weight:500;
    font-size:15px;
    outline:none;
    transition:0.5s;
    margin-top:none;
}
.box2  .button input[type=reset]{
    box-shadow:2px 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    color:#2874f0;
    font-weight:600;
    outline:none;
    transition: 0.5s;
}
.box2  .button input[type=submit]:hover{
    box-shadow:2px 3px 5px 0 rgba(0,0,0,0.2);
}
.box2  .button input[type=reset]:hover{
    box-shadow:2px 2px 10px 0 rgba(0,0,0,0.2)
}
.user-id .footer a{
    position: absolute;
    top: 115px;
    left: 51px;
    font-weight:600;
    text-decoration:none;
    color:#2874f0;
}