*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* <!-- header section --> */

header{
    display: flex;
    justify-content: space-evenly;
    background-color:#1f4368;
    width: 100%;
    height: 56px;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.header-left{
    width: 20%;
    text-align: right;
    margin: 5px 0px;
    cursor: pointer;
}
.header-left a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.5px;
    
}
.header-left-p a{
   font-size: 10px;
   letter-spacing: 1.5px;
}
.header-left-p span{
    color: yellow;
    font-size: 10px;
    letter-spacing: 1px;
}
.header-left-p:hover{
    text-decoration: underline;
    color: white;
}
.header-center{
    width: 40%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}
.header-center-input{
    height: 36px;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}
.fa-search{
    position: absolute;
    top: 30%;
    left: 94%;
    font-size: 18px;
    color: #2874f0;
}
.header-right{
    width: 40%;
    font-size: 15px;
    display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
  line-height: 50px;
}
.header-right a{
    text-decoration: none;
    color: white;
    margin: 0px 25px;
}
.header-right .active{
    background-color: white;
    color: #2874f0;
    padding: 5px 30px;
    height: 35px;
    width: 130px;
    line-height: 23px;
    margin-top: 8px;
    border-radius: 2px;
    text-align: center;
}
.fa-shopping-cart{
    padding-right: 10px;
}
.fa-sort-down{
    padding-left: 5px;

}

/* <!-- category-section --> */


.category-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
}
.category-col{
    padding: 10px 0px;
    cursor: pointer;
    color: rgb(85,83,83);
}

.category-col img{
    width: 64px;
    height: 64px;
}
.category-col h5:hover{
   color: #2874f0;
}
/* <!-- banner section --> */
.banner{

width: 100%;
overflow: hidden;

}
.slider{
   width: 4098;
   display: flex;
   flex-direction: row;
   position: relative;
   animation-name: slide;
   animation-duration: 15s;
   animation-iteration-count: infinite;
}

.slider img{
   width: 100%;
} 
@keyframes slide{
   0%{
       left: 0px;
   }
   26.66%{
       left: 0px;
   }
    33.33%{
       left: -1366px;
   }
    60%{
       left: -1366px;
   }
   66.66%{
       left: -2732px;
   }
   93.33%{
       left: -2732px;
   }


   100%{
       left: -4098px;
   }

}



/* common for all */

/* <!-- Mobile section --> */

.card{
   box-shadow: rgb(177,174,174) 0px 0px 5px 1px;
   padding: 10px 0px;
   margin: 10px 5px;
   border-radius: 5px;
}
.common-heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
    margin-top: 20px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
}
.common-heading-left h1{
    font-size: 20px;
    font-weight: 400;
    padding:auto;
}
.common-heading-left h2{
    font-size: 15px;
    padding: 5px 0px;
    color: rgb(145,141,138) ;
    font-weight: 200;
}
.common-heading-right button{
    width: 90px;
    height: 40px;
    font-size: 18px;
    background-color: #2874f0;
    border: none;
    color: white;
    border-radius: 2px;
}
.common-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-height: 366px;
    margin: 10px 0px;
}
.common-col{
    text-align: center;
    line-height: 22px;
}
.common-col img{
    width: 69px;
    height: 150px;
    transition: 300ms;
}
.common-col img:hover{
    transform: scale(0.9);
}
.common-col h3,h4,h6{
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}
.common-col h3{
    margin-top: 10px;
    font-size: 16px;
}
.common-col h4{
    color: green;
    font-size: 14px;
    font-weight: 300;
}
.common-col h6{
   color: rgb(161,161,161);
   font-size: 12px;
   font-weight: 100;
}


/* <!-- headphones and speaker section --> */
.col-headphones img{
   width: 125px;
   height: 150px;
}
/* <!-- mens clothing --> */
.col-men img{
   width: 100px;
   height: 150px;
}
/* <!-- Furniture Bestsellers section --> */


.col-furniture img{
 width: 130px;
 width: 150px;
}
/* <!-- trending offers section --> */
.col-tranding img{
   width: 80px;
   height: 150px;
}

/* <!-- footer --> */
footer{
   background-color: #172337;
   height: 332;
}
.footer-row{
   width: 100%;
   height: 270px;
   display: flex;
   padding: 30px 60px;
}
.footer-row2{
   display: flex;
   border-top: 1px solid #454d5e;
   justify-content: space-evenly;
}
.footer-col-1{
   width: 15%;
}
.footer-col-2{
   width: 15%;
}
.footer-col-3{
   width: 15%;
}
.footer-col-4{
   width: 10%;
}
.footer-col-5{
   width: 20%;
   border-left:1px solid #454d5e ;
   height: 120px;
   padding-left: 25px;
}
.footer-col-6{
   width: 20%;
   padding-left: 50px;
}
.footer-heading p{
color: #878787;
font-size: 12px;
font-weight: 400;
text-align: left;
padding: 10px 0px;
cursor: pointer;
text-transform: uppercase;
}
.footer-list a{
   text-align: left;
   display: block;
   text-decoration: none;
  text-transform: capitalize;
   color: white;
   font-size: 12px;
   font-weight: 400;
   padding: 5px 0px;
}
.footer-list a:hover{
   text-decoration: underline;
}
.footer-list  p{
   text-align: left;
   display: block;
   color: white;
   font-size: 12px;
   font-weight: 100px;
   padding:5px 0px;
   line-height: 20px;
   cursor: pointer;
}
.footer-list-address p{
   text-align: left;
   display: block;
   color: white;
   font-size: 12px;
   font-weight: 100px;
   line-height: 20px;
    cursor: pointer;
}
.footer-list-address span{
   color: rgb(60,109,245);
   cursor: pointer;
}
.footer-row2-col p{
 color: white;
   font-size: 15px;
   font-weight: 100px;
   line-height: 20px;
    cursor: pointer;
     text-align: center;
     line-height: 50px;
     letter-spacing: .7px;
}
.fa-shopping-bag, .fa-star, .fa-gift ,.fa-question-circle{
   color: #ffd700;
   cursor: pointer;
  padding-right: 10px;
  font-size: 15px;
}


/* ******************************************************************* */