<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with OTP</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container m-5">
        <div class="mt-5 row justify-content-center">
            <div class=" mt-5 col-md-4">
                <form action="/twilio-sms/verify-otp" method="post">
                    <input type="text" name="num" value="<%= message2 %>" hidden>
                    <div class=" form-group">
                        <label for="otp">Enter OTP:</label>
                        <input type="text" maxlength="6" minlength="6" class="form-control" id="otp" name="otp" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Verify</button>
                </form>
                <div class="mt-3"><%= message1 %></div>
            </div>
        </div>
    </div>
</body>
</html>
