<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopSmart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    <center class=" mt-5">
        <div class="card text-center mt-5" style="width: 300px;">
            <div class="card-header h5 text-white bg-primary">Password Reset</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <form action="/forgot_password" method="post">
                    <div class="form-outline">
                        <input type="email" name="email" id="typeEmail" class="form-control my-3" />
                        <label class="form-label" for="typeEmail">Email  </label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Reset password</button> 
                       
                    </div>
                </form>
                <%if(message==='User not found'){%>
                    <p style="color: red;"><%=message%></p>
                    <%}else{%>
                        <p style="color: rgb(10, 130, 12);"><%=message%></p>
                        <%}%>
            </div>
        </div>
    </center>
    
</body>
</html>