<!-- jQuery -->
<script src="/public/productJs/jquery.min.js"></script>

<!-- popper js -->
<script src="/public/productJs/popper.min.js"></script>

<!-- bootstrap -->
<script src="/public/productJs/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/public/productJs/core.min.js"></script>

<!-- zoom js -->
<script src="/public/productJs/xzoom.js"></script>

<!-- hammer js -->
<script src="/public/productJs/jquery.hammer.min.js"></script>

<!-- setup js -->
<script src="/public/productJs/setup.js"></script>

<!-- custom scripts -->
<script src="/public/productJs/main.js"></script>

<!-- all js include end -->


</body>
</html>