<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="/public//js/adminIndex.js"></script>
<script src="/public/js/hart1.js"></script>
<script src="/public/js/chart2.js"></script>
</body>

</html>