 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/css/admin_panel.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="font awsome icon/css/all.css">
    <link rel="stylesheet" href="font style/Roboto-MediumItalic.ttf">
   
    <title>Admin panel</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row topbar">
            <div class="col-md-3 col-12">
                <div class="logo">
                    <h2>ShopSmart</h2>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="search here">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="d-flex align-items-center justify-content-end">
                    <a href="/admin/logout" class="btn btn-outline-secondary">Sign Out</a>
                    <i class="fas fa-bell mx-3"></i>
                    <div class="user">
                        <img src="img/user.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="sidebar">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/admin/dashboard">
                                <i class="fas fa-th-large"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/view_category">
                                <i class="fas fa-th-large"></i>
                                <span>Category</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/product_list">
                                <i class="fas fa-th-large"></i>
                                <span>Products</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/category/add_brand">
                                <i class="fas fa-th-large"></i>
                                <span>brands</span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="fas fa-th-large"></i>
                                <span>User</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-hand-holding-usd"></i>
                                <span>Earnings/analytics</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-th-large"></i>
                                <span>Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-th-large"></i>
                                <span>Coupon</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
