   <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- ALL JS INCLUDE
    ================================================== -->

    <!-- jQuery -->
    <script src="/public/plugins/jquery/jquery.min.js"></script>
    <!-- popper -->
    <script src="/public/plugins/popper/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/public/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- slimscroll -->
    <script src="/public/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <!-- uniform -->
    <script src="/public/plugins/uniform/js/jquery.uniform.standalone.js"></script>

    <!-- switchery -->
    <script src="/public/plugins/switchery/switchery.min.js"></script>

    <!-- theme core scripts -->
    <script src="/public/js/adminMain.js"></script>

    <!-- all js include end -->
</body>


<!-- Mirrored from smartshop.websitelayout.net/admin/customers.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:01:00 GMT -->
</html>
