<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from smartshop.websitelayout.net/admin/customers.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:01:00 GMT -->
<head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="admin,dashboard" />
    <meta name="description" content="Smartshop - Responsive eCommerce Admin Dashboard" />

    <!-- title  -->
    <title>shopSmart</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/public/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/public/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/public/css/plugins.css">

    <!-- theme core css -->
    <link href="/public/css/product_styles.css" rel="stylesheet">

    <!-- common plugins -->
    <link rel="stylesheet" href="/public/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/plugins/icomoon/style.css" />
    <link rel="stylesheet" href="/public/plugins/uniform/css/default.css" />
    <link rel="stylesheet" href="/public/plugins/switchery/switchery.min.css" />

    <!-- theme core css -->
    <link rel="stylesheet" href="/public/css/admin_styles.css" />
  
    <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.css">
   
    <!-- Include SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>  
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link> 
</head>